### Gradle ###
.gradle/
/build/
bin/

### IDE ###
.idea/
.vscode/
*.iml

### Log files ###
*.log

### Spring Boot ###
# Compiled class files
*.class

# Packaged files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven build artifacts (Gradle project but good to have)
target/

# User uploaded files
/uploads/

### Configuration Files ###
application.properties
src/main/resources/*.yml
!src/main/resources/application-common.yml